<?xml version="1.0"?>
<configuration>
  <startup>
  </startup>
  <connectionStrings>
    <add name="SQLSERVER" connectionString=" Data Source=ROCKIMAGE\SQLEXPRESS;Initial Catalog=OptimalControl;User ID=mill;Password=bgrimm2012" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionType" value="SQLSERVER" />
    <add key="LogFile" value="" />
    <add key="RealTime" value="2000" />
    <add key="UpdateVariableTime" value="5000" />
    <add key="LogoffMenulist" value="menu_file_quit,menu_file_lockscreen,menu_control_run,menu_control_stop,menu_control_update,menu_control_stopupdate,menu_control_clear,menu_config_config,menu_config_user,menu_config_password,menu_config_devices,menu_config_parameters,menu_config_rules,menu_config_limits" />
    <add key="LogoffTime" value="900" />
    <add key="DCSName" value="磨机工况信息" />
    <add key="ModbusRTUDeviceID" value="1" />
    <add key="ModbusRTUPortName" value="COM1" />
    <add key="ModbusRTUBaudrate" value="19200" />
    <add key="ModbusRTUDatabits" value="8" />
    <add key="ModbusRTUStopbits" value="1" />
    <add key="MasterTitle" value="工况数据曲线" />
    <add key="MasterTitleSize" value="12" />
    <add key="CurveCount" value="12" />
    <add key="DataListLength" value="720" />
    <add key="CurveList" value="4,4,4" />
    <add key="Proportion" value="3,3,2" />
    <add key="FeedMax" value="1300" />
    <add key="FeedMin" value="600" />
    <add key="FeedWaterMax" value="270" />
    <add key="FeedWaterMin" value="230" />
    <add key="SupWaterMax" value="0" />
    <add key="SupWaterMin" value="0" />
    <add key="OptimalControlEnabledVariable" value="CS060100010101" />
    <add key="OptimalControlHeartBeatVariable" value="CS060100100101" />
    <add key="WorkStatusVariable" value="CS060100100301" />
    <add key="FeedTotalVariable" value="CS010100020102" />
    <add key="DensityVariable" value="CS020600081001" />
    <add key="FeedVariable" value="CS010100020201" />
    <add key="OptimalControlFeedVariable" value="CS010100020301" />
    <add key="OptimalControlFeedMax" value="CS060100040201" />
    <add key="OptimalControlFeedMin" value="CS060100050201" />
    <add key="FeedWaterVariable" value="CS040100020201" />
    <add key="OptimalControlFeedWaterVariable" value="CS040100020301" />
    <add key="OptimalControlFeedWaterMax" value="CS060100040202" />
    <add key="OptimalControlFeedWaterMin" value="CS060100050202" />
    <add key="SupWaterVariable" value="CS040200020201" />
    <add key="OptimalControlSupWaterVariable" value="CS040200020301" />
    <add key="OptimalControlSupWaterMax" value="CS060100040203" />
    <add key="OptimalControlSupWaterMin" value="CS060100050203" />
    <add key="OptimalControlEnabledClientVariable" value="CS060100010201" />
    <add key="RemoteStatusVariableCode" value="CS060600010201" />
    <add key="ClientName" value="管理端" />
    <add key="DisplayedParaVariableCode" value="&#xD;&#xA;    CS010100020101,CS010100020201,CS010100020301,CS060100040201,CS060100050201,&#xD;&#xA;    CS040100020101,CS040100020201,CS040100020301,CS060100040202,CS060100050202,&#xD;&#xA;    CS040200020101,CS040200020201,CS040200020301,CS060100040203,CS060100050203,&#xD;&#xA;    CS040200030103,CS060200030104,CS060200030102,&#xD;&#xA;    CS060100030111,CS060100030112,CS060100030113,&#xD;&#xA;    CS060100030103,CS060100030105,CS060200030101,&#xD;&#xA;    CS020200080111,CS020200070111,CS060200030112,&#xD;&#xA;    CS020200080121,CS020200070121,CS060200030122" />
    <add key="DisplayedParaDeviceId" value="&#xD;&#xA;    0,0,0,1,1,&#xD;&#xA;    0,0,0,1,1,&#xD;&#xA;    0,0,0,1,1,&#xD;&#xA;    0,3,0,&#xD;&#xA;    0,0,0,&#xD;&#xA;    0,0,0,&#xD;&#xA;    0,0,0,&#xD;&#xA;    0,0,0" />
    <add key="DisplayedParaTextboxId" value="&#xD;&#xA;    101,102,103,104,105,&#xD;&#xA;    111,112,113,114,115,&#xD;&#xA;    121,122,123,124,125,&#xD;&#xA;    301,302,303,&#xD;&#xA;    311,312,313,&#xD;&#xA;    321,322,323,&#xD;&#xA;    331,332,333,&#xD;&#xA;    341,342,343" />
    <add key="DisplayedStausVariableCode" value="CS060100030101,CS040100030103,CS010100060101,CS060100030104" />
    <add key="DisplayedStausDeviceId" value="0,0,0,2" />
    <add key="DisplayedStausTextboxId" value="&#xD;&#xA;    201,202,203,204,205,&#xD;&#xA;    211,212,213,214,215,&#xD;&#xA;    221,222,223,224,225,&#xD;&#xA;    231,232,233,234,235" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>